P { text-align: center}
H2 { text-align: center }
H1 { text-align: center }

img {
    display: block;
    margin: 0 px;
    width: 100%;
}
article {
    width: 700px;
    margin: 0 auto;
}

p {
  font-style: italic;
  font-family: 'Abhaya Libre', serif;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
  font-family: 'Roboto', sans-serif;
}
h2 {
  margin: .67em 0;
  color: rgba(0,0,0,.8);
    font-size: 18px;
    line-height: 1.4;
  font-family: 'Rubik', sans-serif;
}
