* {
  box-sizing: border-box;
}

section{
  background: rgb(0,128,0);
  margin-bottom: 10px;
  width: 290px;
  height: 274px;
  padding: 20px;
}


p {
  color: rgb(255, 0, 0);
font-size: 30px;
margin: 0px;
  padding: 16px;

  border: 5px solid black;
  background-color: rgb(255, 255, 0);
  margin: 0px;
}

section:last-child p{
  background-color: #00FFFF;
}

section:first-child p{
  color: #2E21B0;
}
